services:
  front:
    build: . # This tells Docker Compose to use the Dockerfile in the current directory
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=development
