@use '../../style/mixin';
@use '../../style/var';

.lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    background-color: black;
    color: white;

    .liens{
         color: white;
    }
}
