@use "mixin";
@use "var";

/** ********************************************************
 * RESPONSIVE default to mobile
 */

/** * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * carousel orientation : default to vertical
 */

.carousel-section {
  overflow: hidden;
  display: flex;
  position: relative;

  .carousel-slides {
    width: 100%;
    margin: auto;
    display: grid;
    gap: 0px;
    scroll-behavior: smooth;

    /* Hide scrollbar */
    scrollbar-width: none; /* for Firefox, Safari 18.2+, and Chromium 121+ */
    -ms-overflow-style: none; /* for IE 10+, and Edge */
    &::-webkit-scrollbar {
      display: none; /* for older Chromium and Safari, and Opera */
    }

    /* -> VERTICAL SPECIFIC */
    height: 500px;
    grid-auto-flow: row;
    grid-auto-rows: 100%; /* ensure each grid children is 100% height */
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .carousel-item {
      /* -> VERTICAL SPECIFIC */
      height: 100%;

      cursor: crosshair;
      width: 100%;
      overflow: hidden;
      scroll-snap-align: center;

      .carousel-image {
        /* -> VERTICAL SPECIFIC */
        height: 100%;
        width: auto;

        object-fit: contain;
        object-position: center top;
      }
    }
  }

  .carousel-navigation {
    display: flex;
    justify-content: center;
    position: absolute;

    /* -> VERTICAL SPECIFIC */
    flex-direction: column;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    left: auto;

    .nav-button {
      /* -> VERTICAL SPECIFIC */
      width: 2px;
      height: 25px;
      margin: 4px 0;

      border-radius: 20%;
      border: none;
      background-color: #000;
      cursor: pointer;

      /* Increase clickable area */
      padding: 0 10px; /* -> VERTICAL SPECIFIC */
      box-sizing: content-box; /* ensures padding doesn't affect the visual size */
      background-clip: content-box; /* background only covers the content box (not padding) */

      &.active {
        background-color: #ccc;
      }
    }

    .nav-image {
      display: none;
    }
  }

  /** * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * carousel orientation : horizontal
   */

  &.carousel-orientation-horizontal {
    width: 500px;
    max-width: 90vw;

    .carousel-slides {
      grid-auto-flow: column;
      grid-auto-columns: 100%; /* ensure each grid children is 100% width */
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      height: auto;

      .carousel-item {
        height: auto;

        .carousel-image {
          height: auto;
          width: 100%;
        }
      }
    }

    .carousel-navigation {
      flex-direction: row;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      right: auto;
      top: auto;

      .nav-button {
        width: 25px;
        height: 2px;
        margin: 0 4px;

        /* Increase clickable area */
        padding: 10px 0;
      }
    }
  }
}

/** ********************************************************
 * RESPONSIVE for big screen
 */

/** * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * carousel orientation : default to vertical
 */

@include mixin.medium {
  .carousel-section {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;

    .carousel-navigation {
      justify-content: flex-end;
      max-width: 65px;
      height: 100%;
      grid-column-start: 1;

      position: relative;
      top: auto;
      right: auto;
      transform: none;

      .nav-button {
        display: none;
      }

      .nav-image {
        display: flex;
        max-width: 100%;
        border: 1px solid #d1d1d6;
        margin-top: 8px;
        opacity: 0.5;
        background-color: transparent;
        cursor: pointer;

        &.active,
        &:hover {
          border-color: #1e1e1e;
          opacity: 1;
        }
      }
    }

    /** * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     * carousel orientation : horizontal
     */

    &.carousel-orientation-horizontal {
      grid-auto-flow: row;

      .carousel-navigation {
        left: 0;
        transform: translateX(0%);
        max-width: 300px;
        gap: 10px;
      }
    }
  }
}

/** ********************************************************
 * ENLARGED view
 */

/*
 * Prevent the background from scrolling when the enlarged view is active.
 * Applying these styles to the <html> element is more robust than
 * applying them to the <body>, as it prevents the "jump to top" issue.
 */
html:has(.enlarged-view) {
  overflow: hidden;
}

.enlarged-view {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: white;
  padding: 10px;

  .close-button {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 50px;
    font-weight: 200;
  }

  .image-container {
    min-height: 0; /* This is crucial for flex items to shrink properly below their content size */
    cursor: zoom-in;

    .enlarged-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  #enlarged-image-checkbox:checked ~ .image-container {
    cursor: zoom-out;
    overflow: scroll;

    .enlarged-image {
      width: auto;
      height: auto;
    }
  }
}
