@use "mixin";
@use "var";

.section {
  display: block;
  margin-bottom: 2rem;

  @include mixin.medium {
    width: 50%;
    margin-bottom: 5rem;
  }

  p {
    width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: 0rem;

    @include mixin.medium {
      width: 91%;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }
}

.vertical-carousel {
  display: flex;
  justify-content: space-evenly;
  // margin-top: 3rem;
  margin-bottom: 0.5rem;

  @include mixin.medium {
    justify-content: center;
    // margin-top: 5rem;
  }

  .caroussel-image {
    width: 47%;
    // height: 550px;

    @include mixin.medium {
      width: 45%; // exemple : largeur quand l’écran ≥ 60rem
      margin-right: 0.3rem;
    }
  }
}
