@use "mixin";
@use "var";

/*
 * Styles pour le menu glissant
 *
 */

.menu_closer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;

  &.open {
    @include mixin.medium {
      display: block;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 450px;
  max-width: 100vw;
  background-color: #ffffff;
  color: rgb(5, 5, 5);
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease-in-out;
  padding-top: 6rem;
  z-index: -1;

  .allLinks{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
  }

  .section{
    font-weight: bold;
  }

  .subSection{
    font-weight: bold;
    font-size: 0.8rem;
  }

  .subSubSection{
      font-size: 0.8rem;
    }

  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      color: rgb(117, 117, 117);
    }

  }
  

  &.open {
    // position: fixed;
    left: 0;
    // top: 0;
  }

  ul {
    list-style-type: none;
    margin-left: 1rem;
  }
}

