@use "mixin";
@use "var";

.burgerMenu {
  z-index: 1000;
  font-family: PortherasRegular;
  display: flex;

  .burger_logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // z-index: 1000; /* Assure que le header est au-dessus */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;

    @include mixin.medium {
      padding-top: 1rem;
    }
  }
}
