@use "../../style/mixin";
@use "../../style/var";

.burgerMenu {
  z-index: 1000;
  font-family: PortherasRegular;
  display: flex;

  /*
   * Styles pour le menu glissant
   *
   */

  .menu_closer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;

    &.open {
      display: block;
    }
  }
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 450px;
    max-width: 100vw;
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease-in-out;
    padding-top: 6rem;
    z-index: -1;

    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 18px;

      &:hover {
        color: rgb(117, 117, 117);
      }
    }

    &.open {
      position: fixed;
      left: 0;
      top: 0;
    }

    ul {
      list-style-type: none;
      margin: 20px;
      margin-top: 7rem;
    }
  }

  .burger_logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // z-index: 1000; /* Assure que le header est au-dessus */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;

    @include mixin.medium {
      padding-top: 1rem;
    }

    /*
     * Styles pour l'icône burger
     *
     */

    .burgerIcon {
      // burger dimensions
      // small
      --small-burger_width: 26px;
      --small-burger_line_height: 2px;
      --small-burger_box_height: 24px;
      // medium & big
      --medium-burger_width: 26px;
      --medium-burger_line_height: 2px;
      --medium-burger_box_height: 15px;

      width: var(--small-burger_width);
      height: var(--small-burger_box_height);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      margin-left: 2rem;
      position: relative;

      @include mixin.medium {
        height: var(--medium-burger_box_height);
      }

      .line {
        width: 100%;
        height: var(--small-burger_line_height);
        background-color: #000000;
        position: relative;
        transition: 0.5s ease-in-out;
        transform-origin: 50% 50%;

        &.line1 {
          top: 0%;
          &.open {
            top: 50%;
            translate: 0 -50%;
            rotate: -45deg;
          }
        }

        &.line2 {
          &.open {
            opacity: 0;
          }
        }

        &.line3 {
          bottom: 0%;
          &.open {
            bottom: 50%;
            translate: 0 50%;
            rotate: 45deg;
          }
        }
      }

      // .line_2 {
      //   width: 100%;
      //   height: var(--small-burger_line_height);
      //   background-color: #000000;
      //   position: relative;
      //   transition: 0.5s ease-in-out;
      //   transform-origin: 50% 50%;
      //
      //   &.line1 {
      //     top: 0%;
      //     &.open {
      //       top: 50%;
      //       translate: 0 -50%;
      //       rotate: -135deg;
      //     }
      //   }
      //
      //   &.line2 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.line3 {
      //     bottom: 0%;
      //     &.open {
      //       bottom: 50%;
      //       translate: 0 50%;
      //       rotate: 135deg;
      //     }
      //   }
      // }

      // .line_3 {
      //   width: 100%;
      //   height: var(--small-burger_line_height);
      //   background-color: #000000;
      //   position: relative;
      //   transition:
      //     // ->
      //     top 0.5s ease-in-out,
      //     // ->
      //     bottom 0.5s ease-in-out,
      //     // ->
      //     opacity 0.5s,
      //     // ->
      //     translate 0.5s ease-in-out,
      //     // ->
      //     rotate 0s;
      //   transform-origin: 50% 50%;
      //
      //   &.open {
      //     transition:
      //       // ->
      //       top 0.5s ease-in-out,
      //       // ->
      //       bottom 0.5s ease-in-out,
      //       // ->
      //       opacity 0s,
      //       // ->
      //       translate 0.5s ease-in-out,
      //       // ->
      //       rotate 0.5s ease-in-out;
      //   }
      //
      //   &.line1 {
      //     top: 0%;
      //     &.open {
      //       top: 50%;
      //       translate: 0 -50%;
      //       rotate: -45deg;
      //     }
      //   }
      //
      //   &.line2 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.line3 {
      //     bottom: 0%;
      //     &.open {
      //       bottom: 50%;
      //       translate: 0 50%;
      //       rotate: 45deg;
      //     }
      //   }
      // }

      // .line_32 {
      //   width: 100%;
      //   height: var(--small-burger_line_height);
      //   background-color: #000000;
      //   position: relative;
      //   // transition: 0.5s ease-in-out;
      //   transition:
      //       // top
      //     top 0.5s ease-in-out,
      //     // bottom
      //     bottom 0.5s ease-in-out,
      //     // opacity 0s duration, 0.5s delay
      //     opacity 0.5s,
      //     // translate
      //     translate 0.5s ease-in-out,
      //     // rotate
      //     rotate 0s;
      //   transform-origin: 50% 50%;
      //
      //   &.open {
      //     transition:
      //       // top
      //       top 0.5s ease-in-out,
      //       // bottom
      //       bottom 0.5s ease-in-out,
      //       // opacity 0s duration, 0.5s delay
      //       opacity 0s,
      //       // translate
      //       translate 0.5s ease-in-out,
      //       // rotate
      //       rotate 0.5s ease-in-out;
      //   }
      //
      //   &.line1 {
      //     top: 0%;
      //     &.open {
      //       top: 50%;
      //       translate: 0 -50%;
      //       rotate: -225deg;
      //     }
      //   }
      //
      //   &.line2 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.line3 {
      //     bottom: 0%;
      //     &.open {
      //       bottom: 50%;
      //       translate: 0 50%;
      //       rotate: 225deg;
      //     }
      //   }
      // }

      // .line_33 {
      //   width: 100%;
      //   height: var(--small-burger_line_height);
      //   background-color: #000000;
      //   position: relative;
      //   transition:
      //     // ->
      //     top 0.5s ease-in-out,
      //     // ->
      //     bottom 0.5s ease-in-out,
      //     // ->
      //     opacity 0.5s,
      //     // ->
      //     translate 0.5s ease-in-out,
      //     // ->
      //     rotate 0s;
      //   transform-origin: 50% 50%;
      //
      //   &.open {
      //     transition:
      //       // ->
      //       opacity 0s,
      //       // ->
      //       rotate 0.5s ease-in-out;
      //   }
      //
      //   &.line1 {
      //     top: 0%;
      //     &.open {
      //       top: 50%;
      //       translate: 0 -50%;
      //       rotate: -45deg;
      //     }
      //   }
      //
      //   &.line2 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.line3 {
      //     bottom: 0%;
      //     &.open {
      //       bottom: 50%;
      //       translate: 0 50%;
      //       rotate: 45deg;
      //     }
      //   }
      // }

      // .line_4 {
      //   width: 100%;
      //   height: var(--small-burger_line_height);
      //   background-color: #000000;
      //   position: relative;
      //   transition: 0.5s ease-in-out;
      //   // transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out,
      //   //   transform 0.5s ease-in-out, opacity 0s; /* 0s duration, 0.5s delay */
      //   transform-origin: 50% 50%;
      //
      //   &.line1 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.line2 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.line3 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.crox1 {
      //     position: absolute;
      //     top: 50%;
      //     translate: 0 -50%;
      //     &.open {
      //       rotate: 45deg;
      //     }
      //   }
      //
      //   &.crox2 {
      //     position: absolute;
      //     top: 50%;
      //     translate: 0 -50%;
      //     &.open {
      //       rotate: -45deg;
      //     }
      //   }
      // }

      // .line_5 {
      //   width: 100%;
      //   height: var(--small-burger_line_height);
      //   background-color: #000000;
      //   position: relative;
      //   transition: 0s;
      //   transform-origin: 50% 50%;
      //
      //   &.line1 {
      //     top: 0%;
      //     &.open {
      //       top: 50%;
      //       translate: 0 -50%;
      //       rotate: -45deg;
      //     }
      //   }
      //
      //   &.line2 {
      //     &.open {
      //       opacity: 0;
      //     }
      //   }
      //
      //   &.line3 {
      //     bottom: 0%;
      //     &.open {
      //       bottom: 50%;
      //       translate: 0 50%;
      //       rotate: 45deg;
      //     }
      //   }
      // }
    }

    /*
     * Style pour le titre et le logo
     *
     */

    .menuTitle {
      .logo {
        margin-left: 1rem;
        transition: margin-left 0.3s ease-in-out;
        display: flex;
        align-items: center; /* Aligne verticalement le contenu */
        width: fit-content;
        font-size: 0.9rem;

        @include mixin.medium {
          margin-left: 2rem;
          justify-content: space-between;
          font-size: 1.3rem;
          margin-left: 1rem;
        }

        .img_CC {
          width: 2rem;
          height: auto;
          margin-right: 0.6rem;

          @include mixin.medium {
            width: 5rem;
            height: auto;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
