* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

    background-color: #fff;
    font-family: PortherasThin,ZH-Sans,Arial,Lucida Sans Unicode,"sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.4rem;
    /* letter-spacing: .02rem; */
    line-height: 1.8rem;
    letter-spacing: 0.2px;
    line-height: 22px;

    a{
      text-decoration: none;
      color: black;
    }

    h1, h2 {
      font-weight: 400;
      font-size: 1.4rem;
    }
    

}
@font-face {
  font-family: 'PortherasThin'; /* Nom personnalisé pour votre police */
  src: url('./fonts/PortherasTest-Thin.otf') format('otf'); /* Chemin vers le fichier */
  /* font-weight: normal; /* Optionnel, défini pour les variantes */
  /* font-style: normal; Optionnel */ 
}
