:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "PortherasThin", "ZH-Sans", Arial,Lucida Sans Unicode,"sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: .02rem;
  line-height: 1.8rem;
  color: black;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.message{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;

}
.icon_insta{
  width: 32px;
  height: 32px;
}


@font-face {
  font-family: 'PortherasThin'; /* Nom personnalisé pour votre police */
  src: url('/polices/Portheras_test/PortherasTest-Light.otf') format('opentype'); /* Chemin vers le fichier */
  /* font-weight: normal; /* Optionnel, défini pour les variantes */
  /* font-style: normal; Optionnel */ 
}

@font-face {
  font-family: 'PortherasRegular'; /* Nom personnalisé pour votre police */
  src: url('/polices/Portheras_test/PortherasTest-Regular.otf') format('opentype'); /* Chemin vers le fichier */
}
