@use '../style/mixin';
@use '../style/var';

body {
    // background-image: url(../public/background_chloe.jpg);
    background-image: url(../public/IMG_3684.jpg);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    font-family: "PortherasThin","ZH-Sans",Arial,"Lucida Sans Unicode",sans-serif;
    width: 100%;

    main{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 8px;
            width: 90%;
            background-color: var.$soft-white-transparent;
            border-radius: 0.2rem;

            @include mixin.medium {
                width: 50%;
                
            }
        
        
            .segment{
                display: flex;
                flex-direction: column;
                width: 90%;
                margin-bottom: 5.5rem;

                &.segment1 {
                    margin-top: 2rem;
                }
    
                input{   
                    border-radius: 4px;
                    border-style: none;
                    padding: 12px 0px 12px 12px; /*hauteur de la bande blanche*/
                    background-color: var.$soft-white; /* Couleur blanche avec 50% d'opacité */
                    // margin-top: 0.4rem;
                    margin-bottom: 0.7rem;
                    font-size: 1rem;
                    outline: none; /* Supprime le contour par défaut */

                    &:focus {
                        border: 1px solid var.$anthracite; /* Bordure appliquée au focus */
                        transition: border-color 0.3s ease; 
                    }
                }
    
                input::placeholder {
                        color: var.$black;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 400;
                        font-size: 1.1em;
                        letter-spacing: .02rem;
                        // line-height: 1.8rem;
                    }
                

                textarea {
                    border: 0px solid var.$anthracite;
                    background-color: var.$soft-white;
                    outline: none;
                    border-radius: 4px;
                    border-radius: 4px;
                    padding: 10px;
                    font-size: 1rem;
                    color: var.$black;
                    width: 100%; /* Prend toute la largeur du parent */
                    resize: vertical; /* Permet le redimensionnement vertical uniquement */
                    margin-top: 0.4rem;
                
                    &:focus {
                        border: 1px solid var.$anthracite; ;
                        border-radius: 4px;
                    }
                }
                
                .checkbox_choices{
                    display: flex;
                    flex-direction: row;
            
                    .checkbox-label {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        label{
                            display: flex;
                            align-items: center;
                            margin: 0.1rem 0.5rem 0.5rem 0rem;
                            padding: 0.2rem 0.7rem ;
                            // border: 0.02rem solid var.$black;
                            border-radius: 5px;
                            background-color:var.$soft-white;
                        
                            &:checked{
                                background-color:rgb(231, 231, 221);
                                border: 0.15rem solid var.$black;
                            }
                            &:hover{
                                background-color:var.$soft-grey;
                                border: 0.02rem solid var.$black;
                            }

                            &.label_autre{
                                display: none;
                            }
                        }
                    }

                    .box{
                        display: none;
                    }
                }

                fieldset{
                    display: block;
                    min-inline-size: min-content;
                    margin-inline: 0px;
                    border-width: 0px;
                    border-style: none;
                    padding-block: 0em 0em;
                    padding-inline: 0em;

                    #oui, #non{
                        margin-top: 0.5rem;
                    }

                    #oui{
                        margin-right: 0.5rem;
                    }
                    
                    .ascenseur_radio{

                    }
                }
            }

            button{
                border-radius: 4px;
                border-style: none;
                background-color: var.$deep-anthracite;
                color: var.$white;
                padding: 12px;
                margin: 3rem auto 2rem auto;
                width: auto;
                font-size: 1.2rem;

                &:hover{
                    background-color:var.$black;
                }
                &:active{
                    background-color: var.$deep-anthracite;
                }
            }
        }
    }
}





