@use "mixin";
@use "var";

.section {
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;

  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;

  .vertical-carousel {
    width: 100%;
    height: 500px;
    margin: auto;

    display: grid;
    grid-auto-rows: 100%; /* ensure each grid children is 100% height */
    gap: 0px;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; /* Snap on y-axis, mandatory */

    .carousel-item {
      height: 100%;
      width: 100%;
      overflow: hidden;
      scroll-snap-align: center; /* Snap to the start of each item */

      .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Ensures images fill the space */
        object-position: center top; /* Place images inside the frame */
      }
    }
  }

  .carousel-navigation {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    .nav-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      background-color: #ccc;
      cursor: pointer;
      padding: 0;
      &.active {
        background-color: #000; // or your preferred active color
      }
    }
  }

  .carousel-description {
    h3 {
      margin-bottom: 1rem;
    }
  }
}
