@use "mixin";
@use "var";

.section {
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;

  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;

  .vertical-caroussel {
    width: 100%;
    height: 500px;
    margin: auto;

    display: grid;
    grid-auto-rows: 100%; /* ensure each grid children is 100% height */
    gap: 0px;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; /* Snap on y-axis, mandatory */

    .caroussel-item {
      height: 100%;
      width: 100%;
      overflow: hidden;
      scroll-snap-align: center; /* Snap to the start of each item */

      .caroussel-image {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Ensures images fill the space */
        object-position: center top; /* Place images inside the frame */
      }
    }
  }

  .carousel-description {
    h3 {
      margin-bottom: 1rem;
    }
  }
}
