@use '../../style/mixin';
@use '../../style/var';

h2{
    margin: 1rem auto 4rem auto;
    text-align: center;
    @include mixin.medium {
        margin: 0rem auto 4rem auto;
    }
    
}

.commentaires{
    color: rgb(255, 13, 182);
}

.all_sections{
    @include mixin.medium {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 97%;
            margin: auto;
    }

    .section{
        display: block;
        margin-bottom: 2rem;
        // width: 95%;

        @include mixin.medium {
            width: 50%;
            margin-bottom: 5rem;
        }

        p{
            width: 90%;
            margin: auto;
            text-align: justify;
            font-size: 1rem;
            letter-spacing: .0rem;

            @include mixin.medium {
                width: 91%;
            }
        }

        h3{
        // text-align: center;
        // déjà dans le global scss
            margin-bottom: 1rem;

        }

        .link{
            text-decoration: underline;
            margin-bottom: 4rem;
        }
    }

    .duo_img{
        display: flex;
        justify-content: space-evenly;
        // margin-top: 3rem;
        margin-bottom: 0.5rem;

        @include mixin.medium {
            justify-content: center;
            // margin-top: 5rem;
            }

        .image{
            width: 47%;
            // height: 550px;

            @include mixin.medium {
            width: 45%; // exemple : largeur quand l’écran ≥ 60rem
            margin-right: 0.3rem;
            }
        }
    }     
}
