/* src/styles/reset.css */

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, table, th, td {
  margin: 0;
  padding: 0;
}

/* Set default font size */
body {
  font-size: 100%;
  line-height: 1.6;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove text decoration */
a {
  text-decoration: none;
}

/* Add other resets as needed */


button, input[type="button"], input[type="submit"] {
    /* Remove default appearance */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    /* Remove default margin and padding */
    margin: 0;
    padding: 0;
  
    /* Remove default border and background */
    border: none;
    background: none;
  
    /* Remove default font styles */
    font: inherit;
    color: inherit;
  
    /* Reset other properties as needed */
    text-align: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  select, input {
    appearance: none; /* Supprimer les styles par défaut spécifiques au navigateur */
    // -webkit-appearance: none; /* Pour les navigateurs Webkit comme Chrome */
    // -moz-appearance: none; /* Pour Firefox */
    // border: 1px solid #ccc; /* Ajouter une bordure simple */
    // border-radius: 10px; /* Ajouter un rayon de bordure si désiré */
    // background-color: #fff; /* Définir une couleur de fond */
    // padding: 0.5rem; /* Ajouter du padding pour un espace interne */
    // margin: 0.5rem 2rem;
    // font-size: 1rem; /* Définir une taille de police */
    // width: 60%; /* Assurer que le select occupe la largeur de son conteneur */
    // box-sizing: border-box; /* Inclure padding et bordure dans le calcul de la largeur */
  }
  
  /* Supprimer la flèche du select dans certains navigateurs (comme Chrome) */

  select:not(:-internal-list-box) {
    overflow: hidden !important;
}

fieldset {
   display: block;
                    min-inline-size: min-content;
                    margin-inline: 0px;
                    border-width: 0px;
                    border-style: none;
                    padding-block: 0em 0em;
                    padding-inline: 0em;
  // display: block;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  // padding-block-start: 0em;
  // padding-inline-start: 0em;
  // padding-inline-end: 0em;
  // padding-block-end: 0em;
  // min-inline-size: min-content;
  // border-width: 0px;
  // border-style: groove;
  // border-color: rgb(192, 192, 192);
  // border-image: initial;
}