$black:black;
$deep-anthracite:rgb(53, 53, 52);
$anthracite:rgb(80, 80, 80);
$soft-white-transparent:rgba(255, 255, 255, 0.904);
$soft-white:rgba(255, 255, 255, 0.8);
$white:white;
$soft-grey:rgb(238, 236, 230);
$grey:rgb(150, 150, 150);