header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assure que le header est au-dessus */

}
// essai de mettre un fond sur le header lorsque la page est scrollée
// header {
//     position: sticky;
//     top: 0;
//     background-color: transparent;
//     height: 60px;
//     z-index: 1000;
//     transition: background-color 0.3s ease;
// }

// header:has(.scrolled) {
//     background-color: rgba(0, 0, 0, 0.8);
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
// }


.burger_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    // padding-left: 20px;
    max-height: 50px;
    // max-width: fit-content;
    // position: fixed;

    .burger{
        // padding-top: 5px;
        height: auto;
    }

    h1{
        font-size: 1.8rem;
    }
    .logo{
        margin-left: 10px;
        // padding-bottom: 10px;
        height: auto;
    }
}