header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assure que le header est au-dessus */

}

.burger_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    // padding-left: 20px;
    max-height: 50px;
    // max-width: fit-content;
    // position: fixed;

    .burger{
        // padding-top: 5px;
        height: auto;
    }

    .logo{
        margin-left: 10px;
        // padding-bottom: 10px;
        height: auto;
    }
}