@use "../style/mixin";
@use "../style/var";


.link{
    display: block;
    width: 95%;
    text-align: center;
    margin: 9rem auto 10rem auto;
    font-size: 0.9rem;
    background-color: var.$soft-white-transparent;
    padding: 5rem;
    
    @include mixin.medium {
        font-size: 1rem;
         width: 60%;
    }

    .button{
        padding: 1rem;
        border-radius: 0.2rem;
        border: 0.1rem solid var.$anthracite; 
        background-color: white;
    }

}