@use "../../style/mixin";
@use "../../style/var";

h2 {
  margin: 1rem auto 2rem auto;
  text-align: center;
  @include mixin.medium {
    margin: 0rem auto 4rem auto;
  }
}

.intro_beton {
  width: 95%;
  margin: 2rem auto 2rem auto;
  letter-spacing: 0rem;
  line-height: 1.6rem;
  font-size: 0.9rem;
  text-align: justify;

  @include mixin.medium {
    width: 50%;
    margin: 4rem auto 4rem auto;
    text-align: justify;
    font-size: 1rem;
  }
}

.all_sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
  margin: auto;
}
